<a href="https://colab.research.google.com/github/charlie-aashutosh/IIM-INDORE-Python/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a simple function which is not having any parameters

In [11]:
def simple():
  print("Hello I am Simple, I do nothing")

In [12]:
simple()

Hello I am Simple, I do nothing

Create a function which adds two numbers

In [1]:
def add(a,b):
  sum=a+b
  return sum

In [2]:
add(5,7)

12

In [3]:
add(7,45)

52

In [4]:
add(-11,56)

45

In [5]:
def add_three(a,b,c):
  sum=a+b+c
  return sum

In [6]:
add_three(2,3,4)

9

In [8]:
add_three(2,3,-11)

-6

Create a function which adds, subtracts, multiplies and divides two numbers

In [9]:
def calculate(a,b):
  p=a+b
  q=a-b
  r=a*b
  s=a/b

  return p,q,r,s

In [10]:
calculate(12,6)

(18, 6, 72, 2.0)

In [13]:
#Global and Local scope

x=101 #global scope

def func():
  x=102 #local scope
  print(x)

In [15]:
func()
print(x)

102
101

Types of Arguments

1. Default arguments

2. Positional arguments

3. Keywords arguments

4. Arbitrary arguments (*args)

5. Arbitrary keyword arguments (**kwargs)

In [21]:
#default arguments
def greet(name,message='Good day, take care'):
  print(name,message)

In [22]:
greet("Aashutosh","Good afternoon")

Aashutosh Good afternoon

In [23]:
greet("Meera",)

Meera Good day, take care

In [24]:
greet("Meera","Goodevening, how are you?")

Meera Goodevening, how are you?

Create a function which takes name and salary as input from the user and incase the salary is not provided, use default salary as 25000

In [31]:
def data(name,salary=25000):
  print("Hi",name,"your salary is",salary)

In [32]:
data("George",35000)

Hi George your salary is 35000

In [33]:
data("John",70000)

Hi John your salary is 70000

In [34]:
data("Meera",)

Hi Meera your salary is 25000

In [40]:
#positional arguments
def add_numbers(x,y):
  print("x",x)
  print("y",y)
  print(x+y)

In [41]:
add_numbers(6,5)

x 6
y 5
11

In [35]:
#keyword arguments
def greet(name,age,message):
  print(message,name,"your age is",age)

In [37]:
greet(name='Aashutosh',age=99,message="Good morning")#while calling the function, we need to provide key-value pair

Good morning Aashutosh your age is 99

In [38]:
greet(age=99,message="Good morning",name='Aashutosh')#while calling the function, we need to provide key-value pair

Good morning Aashutosh your age is 99

In [39]:
greet(message="How are You?",name="Meera",age=98)

How are You? Meera your age is 98

In [42]:
#arbitrary arguments -- *args -- we can take variable length of arguments in the form of a Tuple
def sum(*args):
  print(type(args)) #tuple
  print(args)

  sum=0
  for num in args:
    sum = sum+num
  return sum

In [43]:
sum(1,2,3,4)

<class 'tuple'>
(1, 2, 3, 4)

10

In [44]:
sum(2,3,4,5,9,8,5,7,4,8)

<class 'tuple'>
(2, 3, 4, 5, 9, 8, 5, 7, 4, 8)

55

In [47]:
def func_new(a,b,*args):
  print(a)
  print(b)
  print(args)

In [48]:
func_new(5,6,7,8,9)

5
6
(7, 8, 9)

In [51]:
def new_func(*args,a,b): #*args are supposed to be added towards the end
  print(a)
  print(b)
  print(args)

In [50]:
new_func(2,3,4,5,6,7,8,9)

TypeError: new_func() missing 2 required keyword-only arguments: 'a' and 'b'

In [52]:
new_func(2,3,4,5,6,7,a=8,b=9)

8
9
(2, 3, 4, 5, 6, 7)

In [54]:
#arbitrary keyword arguments -- **kwargs
def display(**kwargs):
  print(type(kwargs))
  print(kwargs)

  for key, value in kwargs.items():
    print(key,"-->",value)

In [55]:
display(name='Aashutosh',age=99,city='Noida') #while calling we need to provide the key value format

<class 'dict'>
{'name': 'Aashutosh', 'age': 99, 'city': 'Noida'}
name --> Aashutosh
age --> 99
city --> Noida

In [58]:
display(name='Aashutosh',age=99,city='Noida',fruit="Mango",subject="Physics")

<class 'dict'>
{'name': 'Aashutosh', 'age': 99, 'city': 'Noida', 'fruit': 'Mango', 'subject': 'Physics'}
name --> Aashutosh
age --> 99
city --> Noida
fruit --> Mango
subject --> Physics

In [56]:
def func(a,b,*args,**kwargs):
  print(a)
  print(b)
  print(args)
  print(kwargs)

In [57]:
func(5,6,7,8,9,10,11,name="Aashutosh",city="Noida")

5
6
(7, 8, 9, 10, 11)
{'name': 'Aashutosh', 'city': 'Noida'}

In [60]:
def funct(**kwargs,a,b):
  print(kwargs)
  print(a)
  print(b)

funct(name="Aashutosh",age=99,7,9)

SyntaxError: invalid syntax (<ipython-input-60-60b130aea139>, line 1)